.fa-square-plus {
    font-size: 1.5em;
    padding: .8em
}

.post-modal-container {
    display: grid;
    grid-template-columns: 52% 48%;
    width: 55em;
    height: 40em;
    border-radius: 1em;
}

.image-content-container {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.95);
}

.image-content {
    width: 100%;
    height: 100%;
    display: grid;
    object-fit: contain;
    background-repeat: no-repeat;
    background-size: contain;
}

.caption-comment-container {
    box-sizing: border-box;
    object-fit: contain;
    background-size: contain;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 10% 10% 80%;
}

.user-info-container {
    display: flex;
    justify-content: space-between;
    width: 98.2%;
    height: 100%;
    align-items: center;
    padding-left: .5em;
    border-bottom: 1px solid lightgray;
    font-family: 'Arimo', sans-serif;
}

.post-caption-container {
    display: flex;
    object-fit: contain;
    width: fit-content;
    height: fit-content;
    justify-content: flex-start;
    padding: 2px;
    align-items: flex-start;
    align-self: flex-start;
    margin: 6px;
    margin-top: 10px;
    font-family: 'Arimo', sans-serif;
}

.profile-pic-username {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.post-user-profile-pic {
    width: 25px;
    border-radius: 25px;
    margin-top: 10px;
}

.post-comments-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.caption-text {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.caption-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 5px 2px;
    height: 100%;
}

.profile-pic-mini {
    height: 2em;
    width: 2em;
    object-fit: cover;
    border-radius: 50px;
}

.post-username-text {
    font-weight: bold;
    margin: 5px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    cursor: pointer;
    flex-direction: column;
}

.profile-caption-pic {
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    margin-left: -.6em;
    margin-top: -.2em;
}

.profile-pic-button {
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    margin-left: .5em;
}

.posted-date {
    display: flex;
    align-items: center;
    margin: 5px 0;
    font-size: 9.95px;
    color: rgb(0, 0, 0, 0.6);
}
