.fa-square-plus {
    font-size: 1.5em;
    padding: .8em
}

.post-modal-container {
    /* display: grid; */
    /* flex-direction: row; */
    /* grid-template-rows: 8% 92%; */
    /* border: 5px solid black */
    /* display: flex;
    justify-content: space-between;
    width: 30em;
    height: 20em;
    border-radius: 1em; */
    display: grid;
    grid-template-columns: 52% 48%;
    width: 55em;
    height: 40em;
    border-radius: 1em;
}

.image-content-container {
    /* width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 30%;
    margin: 20px 0; */
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    /* background-color: black; */
    /* height: 86%; */
}

.image-content {
    border-top: 30px solid black;
    border-bottom: 30px solid black;
    width: 100%;
    height: 91%;
    display: grid;
    background-repeat: no-repeat;
    background-size: contain;
    /* object-fit: contain; */
}

.caption-comment-container {
    display: grid;
    grid-template-rows: 10% 25% 55% 10%;
    height: 40em;
    /* box-sizing: border-box;
    object-fit: contain;
    background-size: contain;
    height: 100%;
    width: 98%;
    display: grid;
    grid-template-rows: 10% 10% 80%; */
}

/* .post-header-container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 110%;
    border-bottom: 1px solid lightgray;
} */

/* .post-modal-comments {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */

.user-info-container {
    display: flex;
    justify-content: space-between;
    width: 98.2%;
    height: 100%;
    /* justify-content: flex-start; */
    align-items: center;
    padding-left: .5em;
    /* margin-left: .5em; */
    /* padding: 2px; */
    border-bottom: 1px solid lightgray;
    /* margin: 5px; */
    font-family: 'Arimo', sans-serif;
}

.post-caption-container {
    display: grid;
    grid-template-columns: 15% 85%;
    padding-top: 1em;
    height: auto;
    /* display: flex;
    object-fit: contain;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    padding: 2px;
    align-items: center;
    margin: 5px;
    font-family: 'Arimo', sans-serif; */
}

.post-caption-container span {
    font-family: 'Arimo', sans-serif;
    padding-top: .3em;
}

.profile-pic-username {
    display: flex;
    align-items: center;
}

.post-user-profile-pic {
    width: 25px;
    border-radius: 25px;
    margin-top: 10px;
}

.post-comments-container {
    width: 100%;
}

.profile-pic-mini {
    height: 2em;
    width: 2em;
    object-fit: cover;
    border-radius: 50px;
    background-color: red;
}

.post-username-text {
    font-weight: bold;
    margin: 5px;
}

.profile-caption-pic {
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    margin-left: -.6em;
    margin-top: -.2em;
}

.profile-pic-button {
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    margin-left: .5em;
}


