[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "==7.1.2"
gunicorn = "==20.1.0"
itsdangerous = "==2.0.1"
python-dotenv = "==0.14.0"
six = "==1.15.0"
flask = "==2.0.1"
flask-cors = "==3.0.8"
flask-sqlalchemy = "==2.5.1"
faker = "==2.8.1"
flask-wtf = "==0.15.1"
jinja2 = "==3.0.1"
markupsafe = "==2.0.1"
sqlalchemy = "==1.4.19"
werkzeug = "==2.0.1"
wtforms = "==2.3.3"
flask-migrate = "==3.0.1"
flask-login = "==0.5.0"
alembic = "==1.6.5"
python-dateutil = "==2.8.1"
python-editor = "==1.0.4"
greenlet = "==1.1.0"
mako = "==1.1.4"
flask-ext = "*"

[dev-packages]

[requires]
python_version = "3.9"
