.home-page-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.home-content-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 56em;
    margin-top: 1.6em;
}

.users-container {
    display: grid;
    grid-template-rows: auto;
    /* border: 1px solid black; */
    /* border: 1px solid red; */
}

.users-img-circle-container {
    height: 4em;
    width: 4em;
    object-fit: cover;
    border-radius: 50px;
    padding: 1px 1px 1px 1px;
    margin-left: -.33em;
    margin-top: .06em;
    /* padding-left: 1px; */
}

.user-pics button {
    /* background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); */
    /* border: 2px solid #e6683c; */
    border-top: 2px solid #e6683c;
    border-left: 2px solid #f09433;
    border-right: 2px solid #dc2743;
    border-bottom: 2px solid #bc1888;
    border-radius: 50px;
    height: 4.7em;
    width: 4.7em;
}

.username a {
    color: black;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;
    margin-top: .5em;
}

.trending {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 16px;
    margin-top: -.5em;
    width: 100%;
    height: 100%;
}

.user-pics-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    height: 100%;
    /* padding-top: 1em; */
}

.user-pics {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 50px;
    margin-top: .2em;
    /* border: 2px solid ; */
    /* background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    border: 1px solid transparent; */
}


.username {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: -1em;
}


.users-section {
    display: grid;
    grid-template-rows: 25% 50% 25%;
    border: 1px solid lightgray;
    margin-bottom: .5em;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.suggestions-container {
    display: grid;
    grid-template-rows: 15% 12.5% 60% 12.5%;
    /* border: 1px solid blue; */
    margin-left: 1em;
    height: 30em;
}

.suggestions-username-container {
    display: grid;
    grid-template-columns: 20% 80%;
}

.logged-out-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.front-page-image {
    width: 300%;
    height: 100%;
    margin-left: -30em;
    /* margin-left: -30em; */
    margin-top: -2.5em;
}

.logged-out-content-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 50em;
    height: 45em;
}

.login-form-container {
    display: grid;
    grid-template-rows: 80% 20%;
}

.login-form {
    display: grid;
    grid-template-rows: 20% 16% 16% 16% 16% 16%;
    width: 100%;
    height: 95%;
    border: 1px solid lightgray;
}

.login-form h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'billabong';
    font-size: 50px;
}

.login-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-bottom: -2em;
    /* padding-top: -1em; */
    /* border: 1px solid rgb(16, 15, 15) */
}

.login-password-container {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100%;
    width: 100%;
    padding-top: -1em;
    /* border: 1px solid rgb(16, 15, 15) */
}

.login-box {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    width: 80%;
    height: 50%;
    border: 1px solid lightgray;
    background-color: whitesmoke;
    border-radius: 5px;
}

.email {
    font-size: 12px;
    width: 50%;
    height: 50%;
    color: rgb(192, 185, 185);
    margin-top: -.8em;
    margin-left: .5em;
    padding-bottom: -.1em;
    margin-bottom: -2em;
}


.password input {
    width: 98%;
    height: 100%;
    background-color: transparent;
    margin-top: -3em;
    margin-bottom: -1em;
    padding-left: .4em;
    border: none;
    outline: none;
    padding-bottom: 1.2em;
}

.login-button {
    width: 80%;
    height: 50%;
    border-radius: 5px;
    background-color: rgb(185, 219, 243);
    border: transparent;
    color: white;
    font-size: 16px;
    font-weight: 700;
}

.login-button:disabled {
    background: rgb(185, 219, 243)
}

.or-container {
    display: flex;
    justify-content: center;
    height: 50%;
    margin-top: .5em;
}

.or {
    margin-top: 1.4em;
    color: gray
}

.or1 {
    display: flex;
    align-items: flex-start;
    padding-right: 1em;
    color: lightgray;
}

.or2 {
    display: flex;
    padding-left: 1em;
    color: lightgray
}

.login-button-guest {
    width: 80%;
    height: 50%;
    border-radius: 5px;
    background-color: rgb(42, 126, 187);
    border: transparent;
    color: white;
    font-size: 16px;
    font-weight: 700;
}

.sign-up-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    height: 50%;
    margin-top: -1em;
}

.sign-up-link a {
    color: blue
}

.feed-section {
    border: 1px solid green;
    margin-top: 1em;
    width: 100%;
}

.feed-post-container {
    display: grid;
    /* grid-template-rows: 10% 40% 10% 10% 10% 10%; */
    grid-template-rows: 3.5em 28em 3em;
    height: 50em;
    border: 3px solid black;
    margin-bottom: 1em;
}

.feed-username-container {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    height: 2.5em;
    width: 100%;
}

.profile-button-large {
    border-radius: 50px;
    border: none;
    background-color: transparent;
    width: 4.5em;
    height: 4.5em;
    margin-left: 1em;
    margin-top: 1em;
}

.profile-button-large-2 {
    border-radius: 50px;
    border: none;
    background-color: transparent;
    width: 4.5em;
    height: 4.5em;
}

.suggestions-username-name {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: -2em;
    padding-bottom: -2em;
}

.suggestions-username {
    padding-top: 1.3em;
    color: black;
    font-size: 18px;
    font-weight: 700;
}

.suggestions-username-name {
    color: gray;
}

.suggestions-for-u {
    display: flex;
    align-items: flex-end;
    font-size: 14px;
    color: gray;
    font-weight: 900;
    margin-left: .8em;
}

.suggestions-users-container {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    width: 100%;
    height: 100%;
}

.suggestions-user-card {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    height: 3.5em;
    /* padding-top: 2em; */
}

.user-card-follow-btn {
    display: flex;
    align-items: center;
    padding-top: .5em;
}

.user-card-follow-btn button {
    color: rgb(73, 137, 247);
    background-color: transparent;
    border: none;
}

.copyright {
    color: rgb(188, 186, 186);
    /* margin-left: 1em; */
}

.feed-username-container a {
    padding-top: 1.5em;
    padding-left: .7em;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 600;
    color: black;
}

.feed-post-image {
    display: flex;
    justify-content: center;
}

.feed-image {
    width: 100%;
    height: 100%;
}

.feed-like-container {
    display: flex;
    align-items: center;
    padding-left: .6em;
}
