.signup-background {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-form-container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: rgb(7, 219, 123);
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  background-color: rgb(242, 32, 32);
}

.signup-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
  background-color: aqua;
}

.signup-button {
  margin-bottom: 2rem;
  padding: 1em 1.3em;
  border-radius: 7px;
  border: none;
  background-color: #0095f6;
  color: #ffffff;
  width: 100%;
}
