/* .fa-square-plus {
  font-size: 1.5em;
  padding: 0.8em;
}

.post-form-container {
  display: grid;
  grid-template-rows: 8% 92%;
  width: 60vw;
  height: 70vh;
  border-radius: 1em;
}

.create-new-post {
  display: grid;
  grid-template-columns: 58% 42%;
  border-bottom: 1px solid lightgray
}

.create-new-post p {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 16px;
  font-weight: 900;
}

.share-button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.share-button-container button {
  color: blue;
  background-color: transparent;
  border: none;
  font-size: 15px;
}

.label-div {
  padding: 5px 2px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.form-container {
  display: grid;
  grid-template-columns: 60% 40%;
}


.form-image img {
  width: 100%;
  height: 100%;
}

.post-caption-form-container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  border-left: 1px solid lightgray;
}

.post-caption-form-area {
  display: grid;
  grid-template-rows: 25% 50% 25%;
}

.post-username {
  display: flex;
  padding-left: 1em;
  padding-top: 1em;
  align-items: center;
}

.form-profile-img {
  margin-right: 1em;
}


.text-area {
  object-fit: contain;
  resize: none;
  width: 22.5vw;
  height: 15.2vh;
  margin-top: -1.1em;
  padding-top: .5em;
  padding-left: 1em;
  outline: none;
  border: none;
  font-size: 16px;
}

.image-url {
  outline: none;
  margin-left: 1em;
  width: 16vw;
  border: none;
}

.char-count-area {
  display: flex;
  justify-content: space-between;
  padding-right: 1em;
  font-size: 15px;
} */

.edit-post-container {
    background-color: cyan;
}

.edit-post-container-top {
    border: 2px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit-post-content {
    border: 2px solid yellow;
    display: flex;
}
