.edit-post-container {
  grid-template-rows: 8% 92%;
  border-radius: 1em;
}

.edit-post-container-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
}

.edit-post-form-button {
  border: none;
  background-color: transparent;
}

.ep-done {
  color: #0095F6;
  font-weight: 600;
}

.edit-post-content {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  /* padding: 0.5em; */
}

.edit-post-image-content {
  background-repeat: no-repeat;
  background-size: contain;
  /* padding: 0.5em; */
}

.edit-post-image {
  box-sizing: border-box;
  object-fit: contain;
  width: 100%;
  height: 25rem;
  background-repeat: no-repeat;
  display: block;
}

.edit-post-user-info {
  display: flex;
  align-items: center;
  border-top: 1px solid lightgray;
  padding: .5em 1em;
}

.edit-post-image-caption {
  object-fit: contain;
  resize: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 0.5em;
  outline: none;
  border: none;
  font-size: 16px;
}

.edit-post-text-area {
  object-fit: contain;
  resize: none;
  width: 22.5vw;
  height: 15.2vh;
  padding: 0 1em;
  font-size: 16px;
  /* border-color: darkgray; */
  border: none;
}
