.following-header {
    text-align: center;
    padding: 0;
    margin: 0;
}

.each-follower-box {
    width: 100%;
    display: inline-flex;
}

.follower-profile-image {
    width: 10%;
}

.follower-user-info {
    width: 60%;
}

.follower-follow-btn {
    width: 30%;
}
