.following-header {
    text-align: center;
    padding: 0;
    margin: 0;
}

.each-follower-box {
    width: 100%;
    height: 2.75em;
    display: inline-flex;
}

.follower-profile-image {
    height: 2.75em;
    width: 2.75em;
    margin-right: .7em
}

.profile-img-circle-container {
    height: 2.75em;
    width: 2.75em;
    object-fit: cover;
    border-radius: 50px;

    /* max-width: 2.75em; */
}

.follower-user-info {
    width: 60%;
    display: block;
    padding: .4em 0 0 0;

}


.follower-follow-btn {
    width: 30%;
}

.p-bolded {
    font-weight: 600;
    display: block;
    margin: 0;
}

.p-styling {
    margin: 0;
    color: rgb(145, 145, 145);
    font-size: 13.8px;
}
