/* TODO Add site wide styles */
/* .page {
    background-color: whitesmoke;
} */

#page {
    background-color: whitesmoke;
}

#root {
    margin-top: -.8%;
    margin-left: -.75%
}

button:hover {
    cursor: pointer;
}

h2 {
    font-family: 'Arimo', sans-serif;
    font-weight: 300;
    font-size: 25px;
    margin: 0;
}

h3 {
    font-family: 'Arimo', sans-serif;
    font-weight: 600;
    font-size: 18px;
}

p {
    font-family: 'Arimo', sans-serif;
}

ul {
    list-style: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(250, 250, 250);
}

a {
    text-decoration: none;
}
