/* TODO Add site wide styles */
.page {
    background-color: whitesmoke;
}

#root {
    margin-top: -.8%;
    margin-left: -.75%
}

button:hover {
    cursor: pointer;
}

h3 {
    font-family: 'Arimo', sans-serif;
    font-weight: 600;
}

p {
    font-family: 'Arimo', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}
