.post-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-page-id-card {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}

.page-page-post-details {
    border-top: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}


.post-page-details-top {
    display: flex;
    justify-content: space-between;border-bottom: 1px solid lightgray;
}

.post-page-user-details {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.post-page-meta-data {
    border-bottom: 1px solid lightgray;
}
