.post-page {
    border: 2px solid yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-id-card {
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-post-details {
    border: 2px solid orange
}


.post-details-top {
    border: 2px solid cyan;
    display: flex;
    justify-content: space-between;
}

.post-user-details {
    border: 2px solid greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
}
