.search-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 115px;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search-bar-input {
  background-color: #efefef;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  padding: 7px 16px;
  width: 15rem;
  transition: border 200ms;
}

.search-results-box {
  color: black;
  background-color: white;
  z-index: 1;
  top: 50px;
  position: absolute;
  border-radius: 6px;
  box-shadow: 0 10px 25px rgb(0 0 0 / 30%), 0 20px 48px rgb(0 0 0 / 16%),
    0 1px 4px rgb(0 0 0 / 12%);
  overflow-y: scroll;
  visibility: hidden;
  transition: all 200ms;
  padding: 12px;
  max-height: 200px;
  max-width: 400px;
  min-width: 300px;
}

.search-result-link:hover {
  background-color: #f1f0f0;
}

.search-result-text {
  display: flex;
  align-items: center;
  width: 100%;
  color: black;
  font-weight: bold;
  font-family: "Arimo", sans-serif;
}

.search-bar-profile-pic {
  height: 2em;
  width: 2em;
  object-fit: cover;
  border-radius: 50px;
  cursor: pointer;
}

.search-bar-profile-username {
  padding-left: 0.5em;
}

.results-active {
  opacity: 1;
  visibility: visible;
}

.search-result-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}
