.explore-post-card {
  height: 35vh;
  width: 35vh;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.explore-post-card {
  color: transparent;
}

.explore-post-card:hover {
  filter: brightness(70%);
  color: white;
}

.explore-post-text {
  display: flex;
  justify-content: center;
  align-items: center;
}


.ept-likes,
.ept-comments {
  padding: 0 1em;
}

.explore-page {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.explore-post {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 1.5em;
  padding: 8em 20em;
}
