#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
  position: absolute;
  background-color: white;
  border-radius: 1em;
  box-sizing: border-box;
}

/* modal container size for smaller modals (follows) */
#modal-content-small {
  position: absolute;
  background-color: white;
  border-radius: 1em;
  overflow: auto;
  width: 300px;
  z-index: 2;
  /* padding: 1%; */
  /* overflow: auto; */
}

#post-modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#post-modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#post-modal-content {
  position: absolute;
  background-color: white;
  border-radius: 1em;
  overflow: hidden;
  /* width: 60%; */
  /* padding: 1%; */
}

#edit-post-modal {
  width: 300px;
}

#postcard-modal {
  display: inline-block;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#postcard-modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);

}

#postcard-modal-content {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  background-color: white;
  width: 12em;
  height: 10em;
  position: absolute;
  border-radius: 10px;
  /* display: flexbox;
  width: 12em;
  height: 10em;
  padding: 16px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  position: absolute;
  background-color: white; */
}

.postcard-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.postcard-button-container button {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
}

/* edit comment form modal */
#edit-comment-modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 300px; */
}

#edit-comment-modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.7);
}

#edit-comment-modal-content {
  position: absolute;
  background-color: white;
  border-radius: 0.5em;
  overflow: auto;
  height: 200px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
